.card{
    margin-left: auto;
    margin-right: auto;
    font-size: 11px;
    font-family: 'Roboto';
}
.card__body{
    background-color: #F9F9F9;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}
.card__product{
    margin-top: 30px;
    margin-left: 10px ;
    justify-content: center;
}
.head{
    background-color: rgb(0, 0, 0);
    height: 20px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}
.site{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.item{
    max-width: 300px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
    margin-top: auto;
    margin-bottom: auto;
    height: 10px;
    padding-left: 50px;
}
.icons{
    height: 10px;
    max-width: 120px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 8px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48
}
.logo{
    width:auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
    font-style: oblique;
    font-style: bold;
}
.card__breadcrumb{
    color: #929292;
    padding-top: 30px;
    padding-left: 50px;
}
.card__description{
    display: flex;
    height: 48px;
    padding-left: 50px;

}
.title{
    font-size: 40px;
    font-style: oblique;
    font-style: bold;
}
.text{
    max-width: 450px;
    width: 100%;
    height: auto;
    margin-left:70px ;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}
.card__filters{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    height: 30px;
    align-content: center;
}
.options{
    margin-top: 0px;
    display: flex;
    max-width: 600px;
    height: auto;
    width: 100%;
    justify-content: space-between;
    padding-left: 50px;    
    padding-top: 8px;
}
.count{
    margin-top: 0px;
    display: flex;
    height: auto;
    justify-content: space-between;
    align-content: center;
    padding-right: 50px;
    padding-top: 8px;
}
.line{
    margin-top: -8px;
    width: 1px;
    height:30px;
    background-color:#AAAAAA ;
}
.card__scroll{
    height: 440px;
    color: chocolate;
}
.imagesContainer{
    width: 35px;
    border-radius:50%;
    height: 35px;
    margin: 5px;
}
.card_button {
    margin-top: -20%;
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;    
}

.btn-dark{
    height: 35px;
}
.carrito{
    margin-top: -10px;
    font-size: 75%;
}
.talles{    
    font-size: 75%;
}

.size_product{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-right: 5px;
}

.inventoryQuantity{
    display: flex;
    width: 100%;
    padding-left: 5px;    
}

  .card_button a span:first-child {
    display: inline-block;
    padding: 10px;
  }
  .card_button  a {
    display: block;
    position: relative;
    overflow: hidden;
  }
   
  .card_button a span:last-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
  }
  .card_button a span {
    transition: transform 0.2s ease-out;
  }
   
  .card_button a:hover span:first-child {
    transform: translateY(100%);
  }
   
  .card_button a:hover span:last-child {
    transform: none;
  }
  .card_button [data-animation="to-top"] a span:last-child {
    transform: translateY(100%);
  }



.slider:hover .images {
    -webkit-transform:scale(1.1);transform:scale(1.1);
}
.slider {
    overflow:hidden;
    position: relative;
    margin-right: 0px;
}

.slider .shoppingButton{
    visibility: hidden;
}


.slider:hover .shoppingButton {
    visibility: visible;
  }


  /* Fav */
.fav{
    position: absolute;
    display: flex;
    right: 20px;
    top: 20px;
    cursor: pointer;
}


/* Carousel */
.carousel{
    overflow: hidden;
    align-content: center;
    padding: auto;
    margin: auto;
    display: flex;
    object-fit: fill;
}
.images{    
    margin-right: 0px;
    display: flex;
    transform: translateY(0);
    transition: transform 1s ease-in-out;
    height: 100%;
}
.image{
    margin:auto;
    display: flex;
}

/*Controls*/
.controls{
    display: flex;
    position: absolute;
    margin-top:-60%;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
    color: #e8e1e1;
    border: none;    
}
.btn{
    cursor: pointer;
    border: none;
}

/* Price */
.prueba{
    display: flex;
    justify-content: space-between;
}
.price{
    margin: 7px;
}
.price_compare{
    color: #DF1212;
    margin: 7px;
    text-decoration:line-through;
}
/* favoriteAlert */
.favoriteAlert{
    width: 100%;
    background-color: yellowgreen;
    height: 50px;
    justify-content: center;
    color: white;
    font-size: 20px;
    position:fixed;
    padding-top: 10px;
    bottom: 0px;
}

.button_pagination{
    display: flex;
    justify-content: space-between;
    max-width: 200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#btn_prev{
    background: none;
    border: none;
}
#btn_next{
    background: none;
    border: none;
}